<template>
<div>
    <h1>{{title}}</h1>
    <input type="text" v-model="input">
    <button v-on:click="ok">ok</button>
</div>
</template>
<script>
export default {
    data: () => {
        return {
            title:"home",
            input:""
        }
    },
    methods:{
        ok(){
            this.title=this.title+this.input
            this.input=""
            
        }
    }
}
</script>
